{% if post.authors and post.title %}
  <p>
    {% for author in post.authors %}
      {% if forloop.first == false %}, {% endif %}
      
      {% if author.corresponding %}
        <strong>{{ author.name }}</strong>*
      {% else %}
        {{ author.name }}
      {% endif %}

      {% if forloop.last == false and forloop.index == forloop.length - 1 %}
        , and
      {% endif %}
    {% endfor %}.
    
    {% if post.paperurl %}
      <a href="{{ post.paperurl }}">{{ post.title }}</a>.
    {% else %}
      {{ post.title }}.
    {% endif %}
    
    {% if post.venue %}
      <i>{{ post.venue }}</i>{% if post.date %}, {{ post.date | date: "%Y" }}{% endif %}{% if post.volume %}, {{ post.volume }}{% endif %}{% if post.issue %}({{ post.issue }}){% endif %}{% if post.pages %}: {{ post.pages }}{% endif %}.
    {% endif %}
  </p>
{% endif %}
